@charset "UTF-8";

/*업로드리스트*/

.container {
	width: 1370px;
	margin: 70px auto 220px auto;
}

.containerflex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: start;
	align-content: flex-start
}

.category_search_nav_bar {
	display: flex;
	justify-content: space-between;
}

.item {
	border-radius: 10px;
	width: 300px;
	height: 470px;
	margin: 20px;
	position: relative;

	border: solid #BDBDBD 1px;
	box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);


	background-image: url('../img/challenge/back2.svg');
}

.checkdesc {
	position: absolute;
	left: 15px;
	top: 410px;
	font-size: 17px;
	margin-right: 13px;
}

.title {
	position: absolute;
	left: 15px;
	top: 380px;
	font-size: 17px;
	margin-right: 13px;
}

.time {
	position: absolute;
	left: 180px;
	top: 355px;
	font-size: 12px;
}

.divbtn {
	background-color: rgb(223, 187, 240);
	position: absolute;
	top: 347px;
}

.nickname {
	position: absolute;
	left: 50px;
	top: 8px;
	font-size: 18px;
}

.nicknameout {
	height: 40px;
}

.singosu {
	position: absolute;
	left: 87px;
	top: -1px;
	font-size: 18px;
}

.singoafterbtn {
	position: absolute;
	left: 54px;
	top: -3px;
	font-size: 18px;
}

.singobeforebtn {
	position: absolute;
	left: 54px;
	top: -3px;
	font-size: 18px;
}

.likesu {
	position: absolute;
	left: 40px;
	top: -1px;
	font-size: 18px;
}

.likeafterbtn {
	position: absolute;
	left: 10px;
	top: 0px;
	font-size: 18px;
}

.likebeforebtn {
	position: absolute;
	left: 10px;
	top: 0px;
	font-size: 18px;
}

.btn1 {
	position: absolute;
	left: 10px;
	top: 0px;
	font-size: 18px;
}


.btn2 {
	position: absolute;
	left: 54px;
	top: -3px;
	font-size: 18px;
}


.avatar {
	position: absolute;
	left: 3px;
	top: 0px;
}

.box {
	width: 30px;
	height: 30px;
	border-radius: 70%;
	overflow: hidden;
	position: absolute;
	left: 10px;
	top: 4px;
	border: solid #BDBDBD 1px;
}

#coimg {
	width: 100%;
}


/*↓팝업↓*/
.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
	z-index: 100;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 950px;
	height: 450px;
	border-radius: 10px;
}

.close-button {
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: lightgray;
}

.close-button:hover {
	background-color: darkgray;
}

.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modalcomment {
	background-color: rgb(218, 221, 221);
	width: 100%;
}

.modalimgcomment {
	display: flex;
}

.modalimg {}

/*↑팝업↑*/

/*↓스크롤바↓*/
.modalcomment::-webkit-scrollbar {
	width: 8px;
	/* 스크롤바의 너비 */
}

.modalcomment::-webkit-scrollbar-thumb {
	height: 30%;
	/* 스크롤바의 길이 */
	background: #85f0e1;
	/* 스크롤바의 색상 */

	border-radius: 10px;
}

.modalcomment::-webkit-scrollbar-track {
	background: rgba(33, 122, 244, .1);
	/*스크롤바 뒷 배경 색상*/
}

/*↑스크롤바↑*/

.commentlist {
	background-color: rgb(170, 201, 241);
	width: 100%;
}

.modalcomment {
	height: 450px;
	overflow-y: scroll;
}

.moreBtn_container {
	text-align: center;
	margin-top: 3em;
}

#moreBtn {
	width: 6em;
	height: 3em;
}