@charset "UTF-8";


/*업로드리스트*/
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	width: 1370px;
	margin: 70px auto 220px auto;
}

.containerflex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: start;
	align-content: flex-start
}

.category_search_nav_bar {
	display: flex;
	justify-content: space-between;
}

.item {
	border-radius: 10px;
	width: 300px;
	height: 470px;
	margin: 20px;
	position: relative;

	border: solid #BDBDBD 1px;
	box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);


	background-image: url('../img/challenge/back2.svg');
}


.chimgin {
	cursor: pointer;
}

.nickname {
	/*글자색*/
	color: #ffffff;
	/*bold*/
	font-weight: bold;
	/*글자크기*/
}


.checkdesc {
	position: absolute;
	left: 18px;
	top: 415px;
	font-size: 13px;
	margin-right: 13px;
}

.title {
	position: absolute;
	left: 15px;
	top: 385px;
	font-size: 16px;
	font-weight: bold;
	margin-right: 13px;
}

.time {
	position: absolute;
	left: 180px;
	top: 355px;
	font-size: 12px;
}

.divbtn {
	background-color: rgb(223, 187, 240);
	position: absolute;
	top: 347px;
}

.nickname {
	position: absolute;
	left: 50px;
	top: 5px;
	font-size: 20px;
}

.nicknameout {
	height: 40px;
}

:root {
	--singo_left: 54px;
	--singo_top: -1px;
	--like_left: 10px;
	--like_top: 2px;
	--trigger_left: 107px;
	--trigger_top: 347px;
	--su_top: 0px;
}

/*↓좋아요 신고↓*/
.singosu {
	position: absolute;
	left: 87px;
	top: var(--su_top);
	font-size: 18px;
}

.singoafterbtn {
	position: absolute;
	left: var(--singo_left);
	top: var(--singo_top);
	font-size: 18px;
	cursor: pointer;
}

.singobeforebtn {
	position: absolute;
	left: var(--singo_left);
	top: var(--singo_top);
	font-size: 18px;
	cursor: pointer;
}

.likesu {
	position: absolute;
	left: 40px;
	top: var(--su_top);
	font-size: 18px;
}

.likeafterbtn {
	position: absolute;
	left: var(--like_left);
	top: var(--like_top);
	font-size: 18px;
	cursor: pointer;
}

.likebeforebtn {
	position: absolute;
	left: var(--like_left);
	top: var(--like_top);
	font-size: 18px;
	cursor: pointer;
}

.btn1 {
	position: absolute;
	left: var(--like_left);
	top: var(--like_top);
	font-size: 18px;
}

.btn2 {
	position: absolute;
	left: var(--singo_left);
	top: var(--singo_top);
	font-size: 18px;
}

/*↑좋아요 신고↑*/

.avatar {
	position: absolute;
	left: 3px;
	top: 0px;
}

.box {
	width: 30px;
	height: 30px;
	border-radius: 70%;
	overflow: hidden;
	position: absolute;
	left: 10px;
	top: 4px;
	border: solid #BDBDBD 1px;
}

.avatar1 {
	margin-left: 3px;
	top: 0px;
}

.box2 {
	background-color: #ffffff;
	width: 30px;
	height: 30px;
	border-radius: 70%;
	overflow: hidden;
	border: solid #BDBDBD 1px;
}

#coimg {
	width: 100%;

}


/*↓팝업↓*/
.trigger {
	position: absolute;
	left: var(--trigger_left);
	top: var(--trigger_top);
	cursor: pointer;
}


.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(3px);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
	z-index: 100;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 950px;
	height: 450px;
}

.close-button {
	position: absolute;
	float: right;
	width: 2.3rem;
	line-height: 2.3rem;
	top: -50px;
	left: 914px;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: darkgray;
	font-size: 20px;
}

.close-button:hover {
	background-color: #2AC1BC;
}

.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modalcomment {
	background-color: rgb(247, 247, 247);
	width: 100%;
}

.modalimgcomment {
	display: flex;
}



.modalimgout {
	width: 100%;
	height: 450px;
	max-width: 450px;
	max-height: 450px;
	background-color: #000000;
	display: flex;

}

.modalimg {
	width: 100%;
}

.input-group {
	position: absolute;
	top: 380px;
	left: 470px;
}

.content,
.form-control {

	width: 340px;
	/* 원하는 너비 설정 */
	height: 20px;
	/* 높이값 초기화 */
	line-height: normal;
	/* line-height 초기화 */
	padding: .8em .5em;
	/* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
	font-family: inherit;
	/* 폰트 상속 */
	border: 1px solid #999;
	border-radius: 10px;
	/* iSO 둥근모서리 제거 */
	outline-style: none;
	/* 포커스시 발생하는 효과 제거를 원한다면 */
	-webkit-appearance: none;
	/* 브라우저별 기본 스타일링 제거 */
	-moz-appearance: none;
	appearance: none;
}

.updateinput {
	width: 300px;
	/* 원하는 너비 설정 */
	height: 20px;
	/* 높이값 초기화 */
	line-height: normal;
	/* line-height 초기화 */
	padding: .5em .5em;
	/* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
	font-family: inherit;
	/* 폰트 상속 */
	border: 1px solid #999;
	border-radius: 10px;
	/* iSO 둥근모서리 제거 */
	outline-style: none;
	/* 포커스시 발생하는 효과 제거를 원한다면 */
	-webkit-appearance: none;
	/* 브라우저별 기본 스타일링 제거 */
	-moz-appearance: none;
	appearance: none;
}

#commentContentid {
	position: relative;
	top: -15px;
	left: 45px;
	width: 400px;
	word-break: break-all;
}

.commentArea {
	margin-left: 10px;
	margin-top: 10px;
}

.upde {
	position: relative;
	left: 40px;
	top: -33px;
	width: 250px;
}

.update,
.delete {
	/*글씨 굵게*/
	font-weight: bold;
	/*글자 색깔*/
	color: #2AC1BC;
	/*폰트 사이즈*/
	font-size: 13px;
	/*마우스 호버*/
	cursor: pointer;
}

#conickname {
	font-size: 21px;
}

/*↑팝업↑*/

/*↓스크롤바↓*/
.modalcomment::-webkit-scrollbar {
	width: 8px;
	/* 스크롤바의 너비 */
}

.modalcomment::-webkit-scrollbar-thumb {
	height: 30%;
	/* 스크롤바의 길이 */
	background: #2AC1BC;
	/* 스크롤바의 색상 */

	border-radius: 10px;
}

.modalcomment::-webkit-scrollbar-track {
	background: rgba(33, 122, 244, .1);
	/*스크롤바 뒷 배경 색상*/
}

.commentlist {
	width: 100%;
}

.modalcomment {
	height: 350px;
	overflow-y: scroll;
}

/*↑스크롤바↑*/



.moreBtn_container {
	text-align: center;
	margin-top: 3em;
}

#moreBtn {
	width: 6em;
	height: 3em;
}


/*등록버튼*/
.commentInsertBtn {
	width: 80px;
	height: 30px;
	color: #fff;
	background: #2AC1BC;
	font-size: 16px;
	border: none;
	border-radius: 10px;
	transition: 0.3s;
	position: absolute;
	left: 410px;
	top: 50%;
	transform: translate(-50%, -50%);
}

.commentInsertBtn:focus {
	outline: 0;
}

.commentInsertBtn:hover {
	background: #32beba;
	cursor: pointer;
	box-shadow: 0 2px 4px #32beba;
}


/*로그인버튼*/
.commentLoginBtn {
	width: 80px;
	height: 30px;
	color: #fff;
	background: #2AC1BC;
	font-size: 16px;
	border: none;
	border-radius: 10px;
	transition: 0.3s;
	position: absolute;
	left: 410px;
	top: 50%;
	transform: translate(-50%, -50%);
}

.commentLoginBtn:focus {
	outline: 0;
}

.commentLoginBtn:hover {
	background: #32beba;
	cursor: pointer;
	box-shadow: 0 2px 4px #32beba;
}

/*수정버튼*/
.commentUpdateBtn {
	width: 80px;
	height: 30px;
	color: #fff;
	background: #2AC1BC;
	font-size: 16px;
	border: none;
	border-radius: 10px;
	transition: 0.3s;
	position: absolute;
	left: 375px;
	top: 50%;
	transform: translate(-50%, -50%);
}

.commentUpdateBtn:focus {
	outline: 0;
}

.commentUpdateBtn:hover {
	background: #32beba;
	cursor: pointer;
	box-shadow: 0 2px 4px #32beba;
}