@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
/* 
.chdetail, div, .text1 {
	font-family: 'Poor Story', cursive;
} */

a, a:hover, a:active {color: inherit; text-decoration: none;}

.filter_bar_list_item {
	border-right: 1px solid gray;
}

.filter_bar_anchor {
	font-size: 1.2em;
	padding: 8px 14px;
	margin-bottom: 2em;
}

.filter_bar_list li:last-child {
	border: 0;
}

.filter_bar_anchor:hover {
	color: #2bc1bc;
}

.search_bar_keyword input{
	width: 250px;
	height: 35px;
}

#search_btn, #moreBtn {
	font-size: 1.05em;
	color: white;
	width: 4em;
	height: 39px;
	background-color: #2bc1bc;
	border: none;
	border-radius: 15%;
}

#search_btn:hover, #moreBtn:hover {
	cursor: pointer;
	opacity: 0.8;
		border-radius: 15%;
}

.container {
    display: grid;
    grid-template-columns: 100px 1390px 100px;
    grid-template-rows: 30px auto;
    gap: 0px 0px;
    grid-auto-flow: row dense;
    justify-items: stretch;
    grid-template-areas:
        "header header header"
        ". section .";
    justify-content: center;
}

@media screen and (max-width: 1300px) {
    .container {
        grid-template-columns: 100px 700px 100px;
    }
}

/* .header {
    grid-area: header;
}
 */
.section {
    grid-area: section;

}

.titlesvg {
    width: 450px;
    display: block;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


/*section 내부 flexbox 속성*/
.containerflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-content: flex-start;
    margin: 15px;
    padding: 15px;
}

.item {
    border-radius: 10px;
    display: flex;
    background-image: url('../img/challenge/back1.svg');
    width: 600px;
    height: 200px;
    margin: 10px 10px 30px 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.filter_bar_list {
	display: flex;
	justify-content: center;
	list-style: none;
	margin-bottom: 2em;
}

.filter_bar_list li {
	padding: 8px 16px;
}

.chimg {
    width: 220px;
    height: 100%;
    overflow: hidden;
}

.img {
	width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.chdetail {

    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    width: 270px;
    margin: 10px 5px 10px 15px;
    border-radius: 9px;
    position: relative;

}

.text1 {
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
}

.text2 {
    position: absolute;
    left: 20px;
    top: 155px;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
}

.text3 {
    position: absolute;
    left: 25px;
    top: 45px;
    font-size: 16px;
}

.text4 {
    position: absolute;
    left: 25px;
    top: 71px;
    font-size: 16px;
}

.text5 {
    position: absolute;
    left: 25px;
    top: 97px;
    font-size: 16px;
}

.text6 {
    position: absolute;
    left: 25px;
    top: 123px;
    font-size: 16px;
}

.text7 {
    position: absolute;
    left: 80px;
    top: 0px;
    font-size: 16px;
    width: 200px;
}

.chdetail2 {
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    width: 150px;
    border-radius: 9px;
    margin: 10px 5px 10px 5px;
    position: relative;
}

/*button*/

.buttonout {
    position: absolute;
    left: 11px;
    top: 93px;
}

/*버튼*/
.button {
    background: #2bc1bc;
    /*글자색*/
    color: #fff;
    border: none;
    position: relative;
    height: 30px;
    font-size: 20px;
    padding: 0 10px;
    cursor: pointer;
    transition: 400ms ease all;
    outline: none;
    text-shadow: 0.5px 0.5px 0.5px rgb(59, 59, 59);
}

.button:hover {
    background: #fff;
    color: #2bc1bc;
}

.button:before,
.button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #2bc1bc;
    transition: 400ms ease all;
}

.button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.button:hover:before,
.button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/*========================================*/
.button2 {
    background: #dce743;
    /*글자색*/
    color: rgb(255, 255, 255);
    border: none;
    position: relative;
    height: 30px;
    font-size: 20px;
    padding: 0 10px;
    cursor: pointer;
    transition: 400ms ease all;
    outline: none;
    text-shadow: 1px 1px 1px rgb(150, 150, 150);
}

.button2:hover {
    background: rgb(243, 252, 179);
    color: #cce203;
}

.button2:before,
.button2:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #dce743;
    transition: 400ms ease all;
}

.button2:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.button2:hover:before,
.button2:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

#challenge1 {
    width: 100%;
}

/*progress bar*/
progress {
    width: 90%;
    height: 10px;
    appearance: none;
}

progress::-webkit-progress-bar {
    background: #f0f0f0;
    border-radius: 4px;
}

progress::-webkit-progress-value {
    border-radius: 4px;
    background: #484a4c;


}

.search_bar_keyword {
	margin: 1em auto;
	text-align: center;
}

.moreBtn_container {
	text-align: center;
	margin: 3em auto;
}

#moreBtn {
	width: 6em;
	height: 3em;
}

#admin_challenge{
	color: #2bc1bc;
	padding-left: 0.5em;
	font-size: 20px;
}

.tooltip {
  position: relative;
  display: block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: darkgray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 5px;
}

.tooltip .tooltip-top {
  width: 120px;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltip-top::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: darkgray transparent transparent transparent;
}