@charset "UTF-8";


/*업로드폼*/
.check_container{
	width: 450px;
    height: 300px;
/*  position: absolute;
	left: 40%; */
	display: table;
}


.check {
    display: table-row;
}


.check_label, .check_input {
    display: table-cell;
    border-bottom: 1px solid lightgray;
    padding: 1em 1em 1em 0.5em;
    vertical-align: top;
}



textarea {
    width: 22em;
    height: 5em;
    resize: none;
}


.upload_btn {
    background-color: #94DAFF;
    color: white;
    padding: 0.8em 1.6em;
    margin: 2em 1em;
    border-radius: 0.5em;
    border: 0;
    cursor: pointer;
    box-shadow: 2px 2px rgb(176, 176, 176);
    position: absolute;
	left: 40%;
}

.upload_btn:hover {
    background-color: #7BD1FF;
}

#uploadImage {
	display: inline-block;
	background-color: whitesmoke;
	width: 8em;
	height: 8em;
}


/*업로드리스트*/
.rainbow1 {
	display: inline-block;
	font-size:1.5em;
}

.rainbow2{
	transform: scaleX(-1);
	display: inline-block;
	font-size:1.5em;
}

.betweenrainbow{
	display: inline-block;
	font-size:1.5em;
}
.chname{
	text-align: center;
	color: #94DAFF;
	font-size:40px;
	width: 800px;
	margin: 0 auto;
}

.chnamebox{
	
	display: inline-block;
}



.checktitle {
    width: 100%;
}


.containerflex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start; 
  align-content: flex-start;
  width:1100px;
	margin: 0 auto;
}


.item {
	 width:320px;
	 height:450px;
	 margin:20px;
	 position: relative;
	 border:2px solid #94DAFF;
	 border-radius:20px;
	background-color: #f0faff;

}

.img{
	 text-align:center;
	 margin:35px 10px 10px 10px;
}

.imgin{
	height : 280px; 
	width : 300px;
	object-fit:cover;
}
.detail {
	align-items: center;
	position:relative;
	height: 120px;
}

.detail_first, .detail_second{
	 margin:10px 10px 10px 10px;
}


.delete_btn{
	position: absolute;
  	top: 2%;
  	left: 90%;
	border: 0;
	outline: 0;
	background-color: transparent;
	opacity: 0.5;
	cursor: pointer;
}

.delete_btn:hover{
	border: 0;
	outline: 0;
	opacity: 1.0;
}



.plus_btn{
position: absolute;
  top: 45%;
  left: 50%;
 margin: -50px 0 0 -50px;
  opacity: 0.5;
	
}

.plus_btn:hover{
	 opacity: 1.0;
	
}

.imgin{ 
	border-radius:20px;
}

main {
	height: 1200px;
	
}
