@charset "UTF-8";

.wrapper {
	position : absolute;
	left:25%; 
	top:25%;
	margin: 0 auto;
    justify-content: center;
    padding: 10px;
	width: 45%;
	
	border: 2px dotted #FF85B3;
	border-radius:10%;
   
}

div {
    padding-top: 4px;
    padding-bottom: 8px;
}

.title {
    text-align: center;
    font-weight: 700;
}


input{
	
    border: 1px dotted pink;
    border-radius: 3px;
    line-height: 35px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.email input {
	width: 95%;
}


.password input {
    width: 95%;
    text-align:center;
}




.btn-gradient { 
	
	text-decoration: none;
	color: white;
	padding: 10px 30px;
	display: inline-block;
	position: relative;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
	
	background: rgba(255,133,179,1);
	background: -moz-linear-gradient(top, rgba(255,133,179,1) 0%, rgba(235, 134, 171, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,133,179,1)), color-stop(100%, rgba(235, 134, 171, 1)));
	background: -webkit-linear-gradient(top, rgba(255,133,179,1) 0%, rgba(235, 134, 171, 1) 100%);
	background: -o-linear-gradient(top, rgba(255,133,179,1) 0%, rgba(235, 134, 171, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255,133,179,1) 0%, rgba(235, 134, 171, 1) 100%);
	background: linear-gradient(to bottom, rgba(255,133,179,1) 0%, rgba(235, 134, 171, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF85B3', endColorstr='#FF85B3', GradientType=0 );
}



.btn-gradient.small {
	
	padding: 8px 18px;  
  	font-size: 14px;
}

.btn-gradient.mini {
	padding: 4px 12px;  
  	font-size: 12px;
}


.buttons-wrapper {
	margin: 0 auto;
	width: 230px;
}

.buttons-left {
	width:100px;
	height:50px;
	float: left;	
	margin: 0 10px;
}

.buttons-right{
	width:100px;
	height:50px;
	display: inline-block;
    margin-left: 10px;
    
}

.wrapper hr {
	border-top: 1.5px dotted #FF85B3;
	border-bottom : white;
}

h1, h3, h5{
	
	color:#fc5192;
}

h3{
	text-align:center;
}