@charset "UTF-8";

body {
	background-color: #FAFAFA;
}

.title {
	display: flex;
	justify-content: center;
}

.login0 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

.login1 {
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 600px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:".";
  background-color: white;
  float: left;
}

.login2 {
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 600px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:".";
  background-color: blue;
  float: left;
}

.loginf {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	font-size: 5px;
}

.login1 h2 {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	font-size: 30px;
	font-weight: bold;
}

.email {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

#email {
	height: 50px;
	width: 75%;
}

.password {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}	

#password {
	height: 50px;
    width: 75%;
}

.buttons-right {
	display: flex;
	justify-content: center;
}

.buttons-left {
	display: flex;
	justify-content: center;
}

	#btn_group {
	display: flex;
	justify-content: center;
}

	#test_btn1{ 
	height: 40px;
	width: 40%;
	} 
	
	#test_btn2{ 
	height: 40px;
	width: 40%; 
	}
	
	#btn_group button{ 
	border: 1px solid skyblue; 
	background-color: rgba(0,0,0,0); 
	color: #2AC1BC;
	padding: 5px; 
	}
	
	#btn_group button:hover{
	color:white; 
	background-color: #2AC1BC; 
	}
	
	.buttons-left {
	display: flex;
	justify-content: center;
}

	.buttons-right{
	display: flex;
	justify-content: center;  
}

.btn-gradient {
	padding: 1em auto;
	height: 75px;
    width: 75%;
}

.gradieny {
	padding: 1em auto;
	height: 75px;
    width: 75%;
}
	#buttons-wrapper {
	margin: 0 auto;
	width: 600px;
}

.btn-gradient {
	background-color: #2AC1BC; 
  	font-size: 20px;
  	font-weight: bold;
  	color: dark gray;
  	opacity: 1.0;
  	border: 1px solid #2AC1BC;
}

.gradieny {
	background-color: #FAFAFA;
  	font-size: 20px;
  	font-weight: bold;
  	color: dark gray;
  	opacity: 1.0;
  	border: 1px solid #2AC1BC;
}

.btn-gradient:hover{
	opacity: 0.8;
}

.gradieny:hover{
	opacity: 0.8;
}

/* .wrapper {
	
	margin: 5em auto 0 auto;
    padding: 10px;
	width: 20%;
	
	border: 2px dotted #2AC1BC;
	border-radius:10%;
   
}

div {
    padding-top: 4px;
    padding-bottom: 8px;
}

.title {
    text-align: center;
    font-weight: 700;
}


input{
    border: 1px dotted #2AC1BC;
    border-radius: 3px;
    line-height: 35px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.email input {
	text-align: center;
	width: 90%;
}


.password input {
	text-align: center;
    width: 90%;
}



.btn-gradient { 
	
	text-decoration: none;
	color: white;
	padding: 10px 30px;
	display: inline-block;
	position: relative;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
	
	background: rgba(255,133,179,1);
	background: -moz-linear-gradient(top, rgba(255,133,179,1) 0%, rgba(235, 134, 171, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,133,179,1)), color-stop(100%, rgba(235, 134, 171, 1)));
	background: -webkit-linear-gradient(top, rgba(255,133,179,1) 0%, rgba(235, 134, 171, 1) 100%);
	background: -o-linear-gradient(top, rgba(255,133,179,1) 0%, rgba(235, 134, 171, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255,133,179,1) 0%, rgba(235, 134, 171, 1) 100%);
	background: linear-gradient(to bottom, rgba(255,133,179,1) 0%, rgba(235, 134, 171, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF85B3', endColorstr='#FF85B3', GradientType=0 );
}



.btn-gradient.small {
	
	padding: 8px 18px;  
  	font-size: 14px;
}



.buttons-wrapper {
	margin: 0 auto;
	width: 230px;
}

.buttons-left {
	width:100px;
	height:50px;
	float: left;	
	margin: 0 10px;
}

.buttons-right{
	width:100px;
	height:50px;
	display: inline-block;
    margin-left: 10px;
    
}

.wrapper hr {
	border-top: 1.5px dotted #2AC1BC;
	border-bottom : white;
}

h1{
	color: black;
} */
