@charset "UTF-8";

.carousel-container{
  max-width: 100%;
  margin: auto;
  border: 0px solid #000;
  overflow: hidden;
  position: relative;

}

.carousel-slide{
  max-width: auto;
  height: 450px;
  display: flex;

}

.carousel-slide img{
  max-width: 100%;
  height: auto;
  display: block;
}

#prevBtn{
  position:absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}

#nextBtn{
  position:absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
}

.h1 {
	display: center;
}

/* 캐러셀 끝 */

.div_motto {
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}

p.result1,p.result2{
	display: inline-block;
	font-size:30px;
	height:24px;
	line-height: 24px;
	border-right: 1px solid #fff;
	padding-right: 2px;
	box-sizing: border-box;
	padding: 0;
	margin: 5px;
	
	font-family: 'Nanum Pen Script';
	font-weight: bold;

}

p.cursor {
	animation: cursor 0.4s infinite;}

@keyframes cursor{ 
      0%{border-right: 1px solid #fff} 
      50%{border-right: 1px solid #000} 
      100%{border-right: 1px solid #fff} 
    }

/* 섹션 motto 끝 */  

.Ch_container_1 {  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 250px;
  gap: 20px 50px;
  grid-auto-flow: row dense;
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "Ch1 Ch2 Ch3";
  margin-top: 50px;
  margin-bottom: 50px;
}

.Ch1 { grid-area: Ch1;
border:1px dotted #F0F
}

.Ch2 { grid-area: Ch2;
border:1px dotted #F0F
}

.Ch3 { grid-area: Ch3;
border:1px dotted #F0F
}

.Ch_container_2 {  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 250px;
  gap: 15px 50px;
  grid-auto-flow: row dense;
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "Ch4 Ch5 Ch6";
  margin-top: 50px;
  margin-bottom: 150px;
}

.Ch4 { grid-area: Ch4;
border:1px dotted #F0F
}

.Ch5 { grid-area: Ch5;
border:1px dotted #F0F
}

.Ch6 { grid-area: Ch6;
border:1px dotted #F0F
}


/* 섹션 ch1 끝 */

.notice {
	margin-bottom: 100px;
}

h1.notice {
	text-align: center;
	margin-bottom: 20px;
	font-size: 40px;
	
	position: relative;
	right: 395px;
}

p.notice_body {
	text-align: center;
	font-size: 14px;
	font-family: 'Nanum Pen Script';
	
	position: relative;
	right: 435px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

hr.notice_body {
	width: 1110px;
	margin:0 auto;
	height: 1px;
}

/* 섹션 notice 끝 */

h1.ads {
	text-align: center;
	margin-bottom: 20px;
	font-size: 40px;
	
	position: relative;
	right: 290px;
}

p.ads {
	text-align: left;
	font-size: 18px;
	font-family: 'Nanum Pen Script';
	
	position: relative;
	left: 710px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* 섹션 ads 끝 */

button.tuto{
  background:#FF85B3;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:1.2em;
  padding:0 1em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  left: 710px;
}
button.tuto:hover{
  background:#fff;
  color:#1AAB8A;
}
button.tuto:before,button.tuto:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button.tuto:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button.tuto:hover:before,button.tuto:hover:after{
  width:100%;
  transition:800ms ease all;
}

/* 버튼 끝 */

@keyframes scroll {
	 0% {
		 transform: translateX(0);
	}
	 100% {
		 transform: translateX(calc(-250px * 7));
	}
}
 .slider {
	 background: white;
	 box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	 height: 100px;
	 margin: auto;
	 overflow: hidden;
	 position: relative;
	 max-width: auto;
	 margin-top: 150px;
}
 .slider::before, .slider::after {
	 background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	 content: "";
	 height: 100px;
	 position: absolute;
	 width: 200px;
	 z-index: 2;
}
 .slider::after {
	 right: 0;
	 top: 0;
	 transform: rotateZ(180deg);
}
 .slider::before {
	 left: 0;
	 top: 0;
}
 .slider .slide-track {
	 animation: scroll 40s linear infinite;
	 display: flex;
	 width: calc(250px * 14);
}
 .slider .slide {
	 height: 100px;
	 width: 250px;
}

/* 하단 슬라이드 끝 */

hr.four {
	width: 1110px;
	margin:0 auto;
	height: 1px;
	border: solid 1px;

}

/* h 수평선 끝 */