@charset "UTF-8";

.menu_title:after {
  display:block;
  content: '';
  border-bottom: solid 3px #fc5192;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.menu_title:hover:after { transform: scaleX(1); }

 
 * { 
 margin: 0;
 padding: 0;
 }
 
 header { 
 background-color: white; 
 } 
 
 .header_container { 
 display: flex; 
 align-items: center; 
 max-width: 1500px; 
 margin-left: auto; 
 margin-right: auto; 
 height: 65px;
 } 
 
 .logo_container {
 display: block; 
 margin: 5px 150px;
 } 
 
/*  .logo_container a { 
 font-size: 30px; 
 font-weight: 500; 
 text-decoration: none; 
 text-align: center; 
 color: rgba(0,0,0,1); 
 }  */
 
 .nav_container { 
 display: flex; 
 flex: 1; 
 justify-content: space-between; 
 align-items: center; 
 } 
 
 .menu_container { 
 align-content: flex-start; 
 margin-left: 100px; 
 } 
 
 .menu_container .menu, .login { 
 list-style: none; 
 display: flex; 
 } 
 
 .menu_title { 
 display: block; 
 margin: 20px; 
 font-size: 15px; 
 text-decoration: none;
 color: rgba(0,0,0,1);
 }
 
 .menu_index { 
 display: block; 
 margin: 10px 0; 
 padding: 0 15px; 
 text-decoration: 
 none; 
 color: rgba(0,0,0,1); 
 } 
 
 .menu_1, .menu_2, .menu_3, .menu_4 { 
 display: block; 
 cursor: pointer; 
 } 
 
 .login_container { 
 align-content: flex-end; 
 margin-right: 50px; 
 }
