@charset "EUC-KR";

.mypagetitle{
	width: 100%;
}

 .container {  
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top:50px;
} 

.leftbox { 
	grid-area: 1 / 1 / 2 / 2; 
}



.profileimg{
	width:150px;
	height:150px;
	border-radius: 70%;
	margin-top:10px;
	
}


.profilebox {
    width: 280px;
    height: 500px;
    background: #FAFAFA;
	margin:auto;
	border : 1px solid darkgray;
  }
  
.profile-wrapper {
	text-align: center;
	background: darkgray;
	
}

.nick-level-exp {
	text-align: center;
  	padding-top: 10px;
  	padding-bottom: 10px;
}

.nickname, .level, .exp{
	color: white;
	font-weight:bold;
}


.listContainer{  
  padding: 0;
  margin: auto;
  text-align: center;	
}

.listContainer .setting{  
	color: black;
	text-decoration: none; 
}

.listContainerText{
	height:70px;
}

.listContainerText:hover {
	text-decoration:underline;
}



/*챌린지만들기 폼*/

* {
          margin: 0;
          padding: 0;
}

.admin_main_container {
    height: 66em;
    overflow: hidden;
    width:702px;
}

.admin_make_challenge_table {
    display: table;
    width: 100%;
}

.admin_main_header{
	color: #2AC1BC;
}
.admin_make_challenge {
    display: table-row;
}

.admin_make_challenge_label {
    font-weight: 500;
    width: 14em;
}

.admin_make_challenge_label, .admin_make_challenge_input {
    display: table-cell;
    border-bottom: 1px solid lightgray;
    padding: 1em 1em 1em 0.5em;
    vertical-align: top;
}

.admin_make_challenge_info {
    font-size: small;
    color: gray;
    vertical-align: top;
}

input[type=text], input[type=number], input[type=file] {
    width: 22em;
}

input[type=file] {
	display: block;
}

textarea {
    width: 22em;
    height: 5em;
    resize: none;
}

input[type=date]:first-child {
    margin-right: 1em;
    width: 10em;
}

.radioBtns {
	padding: 1em 1em 1em 0;
}

.radioLabel {
	padding-left: 0.5em;
}

.admin_make_challenge_btn {
    padding: 0.8em 1.6em;
    margin: 2em 1em;
    border-radius: 0.5em;
    border: 0;
    cursor: pointer;
    box-shadow: 2px 2px rgb(176, 176, 176);
}

.admin_make_challenge_btn_container {
    text-align: center;
    border-radius: 1em;
}

.admin_make_challenge_btn:first-child {
    background-color: #2AC1BC;
    color: white;
     opacity: 1.0;
}

.admin_make_challenge_btn:first-child:hover {
    background-color: #2AC1BC;
    opacity: 0.8;
}

.admin_make_challenge_btn:last-child:hover {
    background-color: lightgray;
}

#uploadImage {
	display: inline-block;
	background-color: whitesmoke;
	width: 18em;
	height: 10em;
}

.admin_sidebar_list:nth-child(2) {
	background-color: #2AC1BC;
}

a[href="make-a-challenge"] {
	color: black;
	font-weight: 600;
}

input {
	accent-color: #2AC1BC;
}

