<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- mybatis db 연결정보 세팅 파일 -->
<configuration>
<!-- 1. sql 실행 결과 XXXDTO 매핑 -->
<typeAliases>
	<typeAlias type="com.donabit.demo.challenge.ChallengeDTO2" alias="ChallengeDTO2"/>
	<typeAlias type="donabit.challenge.ChallengeDTO" alias="challengedto"/>
	<typeAlias type="check.CheckDTO" alias="checkdto"/>
</typeAliases>


</configuration>

